/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font: Arial;
    background-color: lightgrey;
    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    max-width: 1500px;
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    font-family: sans-serif;
}

header h1 {
    box-sizing: inherit;
}

header img {

}

header .subheading {}

nav {}

nav button {}

nav ul {
    display: none;
}

nav ul li {}

nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}

main {}

main h2 {}

main figure {

}

main figure img {
    width: 70%;
}

section {}

article p.flexitem5-2 img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    position: relative;
    width: 10%;
    /* fill the page in the small/phone view */
    margin: 10px;
}

footer {
    position: fixed;
    width: 100%;
    background-color: white;
}

footer aside {}

footer>p {



}


/* This structure refers to p elements that are direct children of the footer element */


/* Other Class Selectors */

li {
    display: none;
}
.container{
    position: relative;
}
.flexitem3-5{
    flex: 1;
}
.theMenu {
}
.flexbox2-content li {
}


.flexbox1 {
    display: flex;
    background-color: yellow;
    min-width: 20%;
    min-height: 200px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flexitem1-1 {
    width: 50px;
    height: 50px;
}
.flexitem1-2 {

}
.flexitem1-3 {
    background-color: aqua;
}

.flexbox3 {
    display: flex;
    background-color: green;
    min-height: 200px;
    flex-flow: column;
    align-items: center;
}


.flexbox4 {
    display: none;
    background-color: white;
}


.flexbox5 {
    display: flex;
    background-color: red;
    min-height: 275px;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
}
.flexitem5-1 {

}
.flexitem5-2 {
    align-self: flex-end;
}

.flexbox6 {
    display: flex;
    align-items: center;
        background-color: blue;
        min-width: 95%;
        min-height: 75px;
}
.flexitem6-1{

}

.galleryGrid{
    display: grid;
    grid-template-columns: 1 fr 1 fr;
    grid-gap: 20px;
}
.griditem {
    max-width: 300px;
    max-height: 200px;
    padding: 0.2em;
}
.griditem img{
    width: 300px;
    height: 200px;
}

.griditem img:hover {box-shadow: 5px 5px 10px gray;
}
